<div class="container">
  <div class="row">
    <%= @user.last_name %><br/>
    <%= @user.first_name %><br/>
    <%= @user.telephone %><br/>
    <%= @user.compagny_name %><br/>
    <%= @user.hourly_rate %> $ par heure<br/>
    <%= @user.address %><br/>
    <%= @user.first_name %><br/>
    <br>
    <br>
    <%= @certificate.name %><br/>
    <br>
    <br>
    <%= @type.name %><br/>


  </div>
</div>
