<div class="container">
  <div class="row">
    <%= @user.last_name %><br/>
    <%= @user.first_name %><br/>
    <%= @user.telephone %><br/>
    <%= @user.compagny_name %><br/>
    <%= @user.hourly_rate %> $ par heure<br/>
    <%= @user.address %><br/>
    <br>
    <br>
    <%= @certificate.name %><br/>
    <br>
    <br>
    <%= @type.name %><br/>
    <br><br><br>
    <ul>
      <% @user_cat.each do |user_cat| %>
      <li><%= user_cat.category.name %></li>
      <% end %>
    </ul>




  </div>
</div>
